<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BorrowerMapper">

    <resultMap id="BaseResultMap" type="slj.bms.booksmanagementsystem.model.entity.Borrower">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cardId" column="card_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,card_id,name,
        type,major,department
    </sql>
</mapper>
