<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ItemDetailMapper">

    <resultMap id="BaseResultMap" type="slj.bms.booksmanagementsystem.model.entity.ItemDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="publishDate" column="publish_date" jdbcType="DATE"/>
            <result property="press" column="press" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,author,isbn,
        name,price,type,
        publish_date,press,version
    </sql>
</mapper>
