<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LoanMapper">

    <resultMap id="BaseResultMap" type="slj.bms.booksmanagementsystem.model.entity.Loan">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="loanDate" column="loan_date" jdbcType="DATE"/>
            <result property="borrowerId" column="borrower_id" jdbcType="INTEGER"/>
            <result property="dueDate" column="due_date" jdbcType="DATE"/>
            <result property="itemId" column="item_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,loan_date,borrower_id,
        due_date,item_id
    </sql>
</mapper>
